<div class="headline-container py-12 text-lg text-slate-600 leading-normal dark:text-slate-300">
    <div class="bio">
        <img src="/posts/images/about/juntao.qiu.avatar.jpg" alt="Juntao Qiu Avatar" />
    </div>
    <div class="headline break-words">
        Welcome, I'm Juntao—Engineer, Educator, Creator. I elevate your coding skills through clear, practical guidance. 
        <a href="https://juntao.substack.com/" target="_blank" class="primary-link">Subscribe</a> to receive in-depth insights and practical tutorials, and get immediate access to my latest videos and book previews.
    </div>
</div>