<div class="flex flex-col items-center text-center space-y-4 py-12 text-lg leading-normal sm:flex-row sm:text-left sm:items-center sm:space-y-0 sm:space-x-4">
    <div class="w-32 h-32">
        <img src="/posts/images/about/juntao.qiu.avatar.jpg" alt="Juntao Qiu Avatar" class="m-0 rounded-full" />
    </div>
    <div class="headline break-words">
        Welcome, I'm Juntao—Engineer, Educator, Creator. I elevate your coding skills through clear, practical guidance. 
        <a href="https://juntao.substack.com/" target="_blank" class="primary-link">Subscribe</a> to receive in-depth insights and practical tutorials, and get immediate access to my latest videos and book previews.
    </div>
</div>