<div class="headline-container">
    <div class="bio">
        <img src="/posts/images/about/juntao.qiu.avatar.jpg" alt="Juntao Qiu Avatar" />
    </div>
    <div class="headline break-words">
        Hey, my name is Juntao. I am a developer, a
        <a href="https://www.youtube.com/@icodeit.juntao" target="_blank">YouTuber</a>
        and an author.
        I help people write better code.
        <a href="https://juntao.substack.com/" target="_blank">Subscribe to my newsletter</a> to get my latest
        articles and videos.
    </div>
</div>