<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>
<meta name="robots" content="index, follow">

<!-- Title -->
<title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

<meta name="description" content="I Code It is focusing on maintainable React code and masterful use of frontend technologies like Refactoring and Test-Driven Development." />
<meta name="keywords" content="Software Engineering, Developer growth, Maintainable React, React, Test-Driven Development, Frontend development, coding best practices, software design patterns, I Code It" />
<meta name="author" content="Juntao Qiu">
<link rel="canonical" href="https://icodeit.com.au" />
<meta property="og:title" content="I Code It" />
<meta property="og:description" content="I Code It is focusing on maintainable React code and masterful use of frontend technologies like Refactoring and Test-Driven Development." />
<meta property="og:url" content="https://icodeit.com.au" />
<meta property="og:type" content="website" />
<meta property="og:image" content="URL_TO_A_FEATURED_IMAGE" /> <!-- Replace with the actual image URL -->

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="Juntao Qiu - I help developers write better code. Developer, Author, Creator." />
<meta name="twitter:description" content="I Code It is focusing on maintainable React code and masterful use of frontend technologies like Refactoring and Test-Driven Development." />
<meta name="twitter:url" content="https://icodeit.com.au" />
<meta name="twitter:creator" content="@JuntaoQiu" />
<meta name="twitter:image" content="URL_TO_A_TWITTER_CARD_IMAGE" /> <!-- Replace with the actual image URL -->

{{ range $.Scratch.Get "social_list" }}
<link rel="preload" as="image" href="{{ printf `%s.svg` . | absURL }}" />
{{ end }}

<style>
  @import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500&display=swap');  
  @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;1,400;1,700&display=swap');
</style>

{{ partialCached "head/css.html" . }}
{{ partialCached "head/js.html" . }}

<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-RRMPWKNZPP"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-RRMPWKNZPP');
</script>