@import 'content.css';
@import 'code.css';

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  html,
  body {
    @apply h-full;
  }

  html {
    --bg: transparent;
  }

  body {
    -webkit-tap-highlight-color: transparent;
    background: var(--bg);
    font-weight: normal;
    
    @apply dark:bg-black;
  }
}

.article-container {
  text-decoration: none;
}

/* Add this inside your <style> tag or your external CSS file if you're using @apply directive */
@media (min-width: 1024px) {
  .toc {
    max-height: calc(100vh - 4rem); /* Adjust 4rem if your top spacing is different */
  }
}

.primary-link {
  text-decoration: underline wavy #e23e57 !important;
}
