*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --color-highlight: #0038ff;
}

body {
  background-color: #eee;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: min(800px, calc(100vw - 2rem));
  height: 100vh;
  margin-inline: auto;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
}

.container p {
  font-size: 3rem;
  font-weight: bold;
}

.highlight {
  color: var(--color-highlight);
}
