{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-24">{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-4 mb-20 flex items-start">
  {{ if $avatar_url }}
  <div
    class="mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow-xl dark:bg-white/80"
  >
    <img
      class="my-0 h-14 w-14 rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div class="headline-container">
    <div class="bio">
      <img
        src="/posts/images/about/juntao.qiu.avatar.jpg"
        alt="Juntao Qiu Avatar"
      />
    </div>
    <div class="headline break-words">
      Hey, my name is Juntao. I am a developer, a
      <a href="https://www.youtube.com/@icodeit.juntao" target="_blank"
        >YouTuber</a
      >
      and <a href="https://leanpub.com/u/juntao" target="_blank">an author</a>.
      I help people write better code.
      <a href="#subscribe">Subscribe to my newsletter</a> to get my latest
      articles and videos.
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

<div class="featured">
  <h1>Featured Articles</h1>

  <section>
    <div
      class="grid grid-flow-row gap-8 text-neutral-600 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-3"
    >
      <div
        class="rounded bg-white shadow shadow-gray-200 duration-300 hover:-translate-y-1 dark:bg-gray-800 dark:shadow-gray-900"
      >
        <a
          href="https://itnext.io/the-refactoring-of-the-very-efficient-code-from-dutch-digid-app-ac1b4ec5a2e2"
          target="_blank"
          class="featured-article-container cursor-pointer"
        >
          <figure>
            <img
              src="/posts/images/featured/efficient-code-refactoring.png"
              class="h-64 w-full rounded-t object-cover"
            />
            <figcaption class="p-4">
              <h5
                class="mb-4 text-lg font-bold leading-relaxed text-gray-800 dark:text-gray-300"
              >
                The refactoring of the "Very efficient Code" from Dutch DigiD
                App
              </h5>

              <!-- Description -->
              <small class="leading-5 text-gray-500 dark:text-gray-400">
                I found a very interesting code snippet today on a programmer
                humour channel on Reddit (Very efficient Code), and it turned
                out more than a joke...
              </small>
            </figcaption>
          </figure>
        </a>
      </div>

      <div
        class="rounded bg-white shadow shadow-gray-200 duration-300 hover:-translate-y-1 dark:bg-gray-800 dark:shadow-gray-900"
      >
        <a
          href="https://itnext.io/clean-code-takes-priority-choosing-readability-over-speed-9f467b9d1af3"
          target="_blank"
          class="featured-article-container cursor-pointer"
        >
          <figure>
            <img
              src="/posts/images/featured/coding.jpg"
              class="h-64 w-full rounded-t object-cover"
            />

            <figcaption class="p-4">
              <h5
                class="mb-4 text-lg font-bold leading-relaxed text-gray-800 dark:text-gray-300"
              >
                Clean Code Takes Priority: Choosing Readability Over Speed
              </h5>

              <!-- Description -->
              <small class="leading-5 text-gray-500 dark:text-gray-400">
                There is a particular comment about the refactored version
                having too much abstraction and can be less performant than the
                original approach...
              </small>
            </figcaption>
          </figure>
        </a>
      </div>

      <div
        class="rounded bg-white shadow shadow-gray-200 duration-300 hover:-translate-y-1 dark:bg-gray-800 dark:shadow-gray-900"
      >
        <a
          href="https://juntao-qiu.medium.com/7-react-clean-code-tips-you-should-know-846b8108fc46"
          target="_blank"
          class="featured-article-container cursor-pointer"
        >
          <figure>
            <img
              src="/posts/images/featured/common-refactorings-refactorings.png"
              class="h-64 w-full rounded-t object-cover"
            />

            <figcaption class="p-4">
              <h5
                class="mb-4 text-lg font-bold leading-relaxed text-gray-800 dark:text-gray-300"
              >
                7 React Clean Code Tips You Should Know
              </h5>

              <!-- Description -->
              <small class="leading-5 text-gray-500 dark:text-gray-400">
                In this article, I've summarised seven practical tips for you to
                write maintainable React code...
              </small>
            </figcaption>
          </figure>
        </a>
      </div>
    </div>
  </section>
</div>

<h1>Recent Articles</h1>

{{ end }}
<a href="{{ .Permalink }}" class="article-container">
  <div
    class="w-100 mx-2 mt-12 flex flex-col overflow-hidden rounded bg-white shadow shadow-gray-200 duration-300 hover:-translate-y-1 dark:bg-gray-800 dark:shadow-gray-900 md:flex-row"
  >
    <div class="h-64 w-auto md:w-1/2">
      {{ $image := .Params.cover }} {{ if not $image }} {{ $image =
      "/posts/images/misc/coding.jpg" }} {{ end }}
      <img
        class="cover-image h-full w-full object-cover object-center"
        src="{{ $image }}"
        alt="{{.Title}}"
      />
    </div>
    <!-- content -->
    <div class="flex w-full flex-col justify-between py-4 px-6 text-gray-800">
      <h3 class="truncate text-lg font-semibold leading-tight">{{ .Title }}</h3>
      <p class="mt-2 dark:text-gray-400">{{ .Description }}</p>
      <p
        class="mt-2 text-sm font-semibold uppercase tracking-wide text-gray-700 dark:text-gray-400"
      >
        Juntao Qiu &bull; {{ .Date | time.Format ":date_medium" }}
      </p>
    </div>
  </div>
</a>

{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

<div class="subscribe" id="subscribe">
  <h1 class="subscribe-heading">Subscribe</h1>
  <script
    async
    data-uid="63029542b9"
    src="https://icodeit.ck.page/63029542b9/index.js"
  ></script>
</div>

{{ end }}
