{{ define "main" }}

<!-- Tag Title -->
{{ if and .Title (eq .Type "tags") }}
<h1 class="mb-24">{{ .Title }}</h1>
{{ end }}

<!-- $pages -->
{{ $pages := union .RegularPages .Sections }}<!---->
{{ if .IsHome }}<!---->
{{ $pages = where site.RegularPages "Type" "in" site.Params.mainSections }}<!---->
{{ end }}

<!-- Articles -->
{{ $paginator := .Paginate $pages }} {{ range $index, $page := $paginator.Pages
}}<!---->

<!-- avatar -->
{{ if and $.IsHome (eq $paginator.PageNumber 1) (eq $index 0) }}<!---->

{{ $avatar_url := $.Scratch.Get "avatar_url" }}<!---->
{{ if or $avatar_url site.Params.name }}
<div class="-mt-4 mb-20 flex items-start">
  {{ if $avatar_url }}
  <div
    class="mr-5 shrink-0 rounded-full border-[0.5px] border-black/10 bg-white/50 p-3 shadow-xl dark:bg-white/80"
  >
    <img
      class="my-0 h-14 w-14 rounded-full !bg-black/5 hover:animate-spin dark:!bg-black/80"
      src="{{ $avatar_url }}"
    />
  </div>
  {{ end }}<!---->
  {{ if site.Params.name }}
  <div class="headline-container">
    <div class="bio">
      <img
        src="/posts/images/about/juntao.qiu.avatar.jpg"
        alt="Juntao Qiu Avatar"
      />
    </div>
    <div class="headline break-words">
      Welcome, I'm Juntao—Engineer, Educator, Creator. I elevate your coding skills through clear, practical guidance. 
      <a href="https://juntao.substack.com/" target="_blank" class="primary-link">Subscribe</a> to receive in-depth insights and practical tutorials, and get immediate access to my latest videos and book previews.
    </div>
  </div>
  {{ end }}
</div>
{{ end }}<!---->

<h3 class="uppercase font-light text-slate-700 dark:text-slate-200">Recent Blogs</h3>

{{ end }}

<a href="{{ .Permalink }}" class="article-container block p-3 hover:bg-gray-100 transition-colors duration-200 rounded-md dark:hover:bg-gray-900">
  <div class="w-full flex flex-col space-y-3 text-gray-800 dark:text-gray-300">

    <!-- Title -->
    <h3 class="flex items-center gap-x-2 text-xl font-semibold leading-tight hover:text-gray-600 transition-colors duration-200">
      <!-- Category Badge -->
      {{ with .Params.category }}
      <span class="inline-block px-2 py-1 text-xs font-semibold uppercase rounded bg-gray-600 text-white mr-1">
          {{ . }}
      </span>
      {{ end }}
      {{ .Title }}
    </h3>

    <!-- Description -->
    <p class="text-base">{{ .Description }}</p>

    <!-- Date & Author -->
    <div class="text-sm font-medium text-gray-500 dark:text-gray-400">
        Juntao Qiu &bull; {{ .Date | time.Format ":date_medium" }}
    </div>
  </div>
</a>


{{ end }}

<!-- Main Nav -->
{{ if gt $paginator.TotalPages 1 }}
<nav class="mt-24 flex">
  {{ if $paginator.HasPrev }}
  <a class="btn" href="{{ $paginator.Prev.URL }}">← {{ i18n "prev_page" }}</a>
  {{ end }}<!---->
  {{ if $paginator.HasNext }}
  <a class="btn ml-auto" href="{{ $paginator.Next.URL }}"
    >{{ i18n "next_page" }} →</a
  >
  {{ end }}
</nav>
{{ end }}<!---->

<div class="subscribe" id="subscribe">
  <h1 class="subscribe-heading">Subscribe</h1>
  <iframe src="https://juntao.substack.com/embed" width="100%" height="320" style="border:1px solid transparent; background-color:#F5F5F5;" frameborder="0" scrolling="no"></iframe>
</div>

{{ end }}
